
{% extends 'adminbase.html.twig' %}
{% block title %} Edit Settings {% endblock %}
{% block content %}
<!-- Content =====================================================================-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"></a> </div>
    <h1>ADMIN PANEL</h1>
    <br>
    {{ include('admin/messages.html.twig') }}
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-home"></i> </span>
            <h5>Edit Settings</h5>
          </div>

          <div class="widget-content ">  

          {{ include('admin/setting/_form.html.twig', {'button_label': 'Update'}) }}

          <script>
            ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
            console.error( error );
            } );
          </script>

        </div>
        </div>
      </div>
     </div>
    </div>
    </div>
  </div>
</div>
<!-- end Content part -->

{% endblock %}
