<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">


        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ asset('admin') }}/css/bootstrap.min.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
        <SCRIPT language="JavaScript" type="text/javascript">
            function openWin(windowURL, windowName, windowFeatures){ window.open(windowURL, windowName, windowFeatures); }
        </SCRIPT>


        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block sidebar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
