{% extends 'adminbase.html.twig' %}
{% block title %} Products {% endblock %}
{% block content %}
<!-- Content =====================================================================-->
<div id="content">
  <div id="content-header">
   <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"></a> </div>
    <h1>ADMIN PANEL</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-home"></i> </span>
                <h4>Create new Product</h4>
          </div>
          <div class="widget-content ">

        {{ include('admin/product/_form.html.twig') }} 

        <br><a href="{{ path('admin_product_index') }}" class="btn btn-inverse">Back to list</a> <br> <br> 
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Content part -->

{% endblock %}


